<style>
    #footer {
        display: table;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
</style>

<div class="page-footer footer-fixed-bottom" id="footer">
    <div class="page-footer-inner">
        &copy; 2019  biTS VAT Management System By
        <a target="_blank" href="http://www.bracits.com">biTS</a> &nbsp;
    </div>
    <div class="scroll-to-top">
        <i class="icon-arrow-up"></i>
    </div>
</div>