
@{
    ViewData["Title"] = "SaleCancellations";
}
<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header">Sale Cancellations </h2>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group">

            <div class="col-md-2" style="margin-left: 10%;">
                <label for="Party" style="width:40%;" class="form-control">Party</label>
            </div>
            <div class="col-md-2">
                <select class="form-control" style="margin-left:-120px;">
                    <option value="All">All</option>
                    <option value="Test1">Test1</option>
                    <option value="Test1">Test1</option>
                    <option value="Test1">Test1</option>
                </select>
            </div>
            <div class="col-md-2" style="margin-left: -140px;">
                <label for="orderNo" style="width:55%;" class="form-control">OrderNo</label>
            </div>
            <div class="col-md-2">
                <input type="text" style="margin-left: -98px;" class="form-control" id="usr">
            </div>
            <div class="col-md-2" style="margin-left: -118px;">
                <label for="fromDate" style="width:55%;" class="form-control">From</label>
            </div>
            <div class="col-md-2">
                <input type="date" style="margin-left: -98px;" class="form-control" id="fromDate">
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <div class="form-group">

            <div class="col-md-2" style="margin-left: 10%;">
                <label for="status" style="width:40%;" class="form-control">Status</label>
            </div>
            <div class="col-md-2">
                <select class="form-control" style="margin-left:-120px;">
                    <option value="All">All</option>
                    <option value="Test1">Test1</option>
                    <option value="Test1">Test1</option>
                    <option value="Test1">Test1</option>
                </select>
            </div>
            <div class="col-md-2" style="margin-left: -140px;">
                <label for="branch" style="width:72%;" class="form-control">Branch</label>
            </div>
            <div class="col-md-2">
                <select class="form-control" style="margin-left:-98px;">
                    <option value="All">All</option>
                    <option value="Test1">Test1</option>
                    <option value="Test1">Test1</option>
                    <option value="Test1">Test1</option>
                </select>
            </div>
            <div class="col-md-2" style="margin-left: -118px;">
                <label for="toDate" style="width:55%;" class="form-control">To</label>
            </div>
            <div class="col-md-2">
                <input type="date" style="margin-left: -98px;" class="form-control" id="toDate">
            </div>
        </div>
    </div>
  
</div>

