/*	Title: bits

	Date:		Sept, 2018
-------------------------------------
*/

/*=========== BEGIN COMMON ============*/
html{
	position: relative;
  min-height: 100%;
	background:#f8f8fa;
	padding:0px!important;
}
html.wp-toolbar{ padding:0px!important; }
.rowIn { clear: both; max-width: 100%; }
.wrap { width: 100%;}
.clear:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0}

body {
  font-family: 'Helvetica Neue';
	font-size: 0.875rem;
	font-weight: normal;
  background:#f8f8fa;
  overflow-x:hidden;
	margin-bottom: 60px;
	color: #5e666d;
}
.main-container {
	min-height: 100%;
	height: 100%;
	width: 100%;
}
.body-container {}
a {
	color: #ff229a;
	outline: none !important;
}
a:link {
	/* color: #25b0ea; */
  outline: none !important;
}
a:visited {
  outline: none !important;
}
a:hover {
  color: #38c4ff;
	text-decoration: none!important;
}
a:active {
	outline: none !important;
}
img { width: auto; height: auto; max-width: 100%; display: inline-block; vertical-align: top}
a img {
	border: 0px;
	outline: none !important;
}
button {
	outline: none !important;
}
h1 { font-weight: bold;}
h2,.h2 {
	color: #121314;
	font-weight: 500;
}
h2 { font-size: 1.875rem;}
.h2 { font-size: 2.1875rem;}
h3,h4 {
	color: #121314;
	font-weight: normal;
}
h3 {
	font-size: 1.5rem;
}
h4 {
	font-size: 1.25rem;
}
.h5, h5 {
	font-weight: 500;
	font-size: 1.125rem;
	color: #121314;
}
h6 {
	color: #121314;
	font-weight: bold;
}
.btn-group > .btn:focus, .btn-group > .btn:active, .btn-group > .btn.active,
.btn-group-vertical > .btn:focus,
.btn-group-vertical > .btn:active,
.btn-group-vertical > .btn.active {
  color: #ff229a;
}
.lead {
	font-weight: normal;
	font-size:  1.0625rem;
}
.form-control::-webkit-input-placeholder {
  color: #9ba0a5;
  opacity: 1;
}
.form-control {
  font-size: 0.8rem;
}
.form-control::-moz-placeholder {
  color: #9ba0a5;
  opacity: 1;
}

.form-control:-ms-input-placeholder {
  color: #9ba0a5;
  opacity: 1;
}

.form-control::-ms-input-placeholder {
  color: #9ba0a5;
  opacity: 1;
}

.form-control::placeholder {
  color: #9ba0a5;
  opacity: 1;
}
.nav-link:hover {
	color: #ff229a;
}
.navbar-light .navbar-nav .nav-link {
	color: #121314;
	text-transform: uppercase;
	font-weight: 500;
}
.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
	color: #ff229a;
}
.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
	color: #ff229a;
}
.tick-circle {
	width: 25px;
	height: 25px;
	vertical-align: top;
	display: inline-block;
	background: url(../img/tick_circle_grey.png) no-repeat center;
	-webkit-transition:all 0.3s ease-out;
	-moz-transition:all 0.3s ease-out;
	-ms-transition:all 0.3s ease-out;
	-o-transition:all 0.3s ease-out;
	transition:all 0.3s ease-out;
}
.btn-outline-default:hover .tick-circle {
	background: url(../img/tick_circle_pink.png) no-repeat center;
}

.btn {
	font-size: 0.80rem;
}
.btn-light {
	color: #ff229a;
}

.btn-primary,
.btn-outline-primary {
	border-color: #ff229a;
	padding-left: 1.25rem;
	padding-right: 1.25rem;
	text-transform: uppercase;
	font-weight: 500;
}
.btn-outline-primary {
	color: #ff229a;
	background-color: #fff;
	border-color: #ff229a;
}
.btn-outline-primary:hover {
	color: #dd1582;
	background-color: #fff;
	border-color: #dd1582;
}

.btn-primary {
	background-color: #ff229a;
	border-color: #ff229a;
}

.btn-primary:hover {
	background-color: #dd1582;
	border-color: #dd1582;
}
.btn-outline-default {
	border-color: #d3d3d3;
	color: #c5c5c5;
	font-size: 1rem;
}
.btn-outline-default:hover {
	border-color: #ff229a;
	color: #ff229a;
}
.btn-outline-default.disabled {
	background-color: #e8e8e8;
}

.btn-secondary {
	padding-left: 1.25rem;
	padding-right: 1.25rem;
	text-transform: uppercase;
	font-weight: 500;
	background-color: #484848;
	border-color: #484848;
}
.btn-default {
	padding-left: 1.25rem;
	padding-right: 1.25rem;
	text-transform: uppercase;
	font-weight: 500;
	border-color: #e6e6e9;
	background-color: #f8f8fa;
}
.btn-default:hover, .btn-purple:hover {
	background-color: #e6e6e9;
}
.btn-outline-grey {
	color: #9ba0a5;
	border-color: #e4e4e9;
}
.bg-primary {
	background-color: #ff229a!important;
	color: #fff!important;
}
.bg-secondary {
	background-color: #7e7eff!important;
	color: #fff!important;
}
.btn-purple {
	background-color: #8d31ff;
	padding-left: 1.25rem;
	padding-right: 1.25rem;
	text-transform: uppercase;
	font-weight: 500;
	color: #fff;
}
.btn-purple:hover {
	border-color: #6f1ad9;
	background-color: #6f1ad9;
}
.btn-trash, .btn-edit, .btn-save {
	padding: 0.25rem 0.75rem;
	text-transform: none;
	background-color: #e93934;
	border-color: #e93934;
}
.btn-edit {
	background-color: #5a34e9;
	border-color: #5a34e9;
}
.btn-save {
	background-color: #0bbc62;
	border-color: #0bbc62;
}
.btn-trash:hover {
	background-color: #c8221d;
	border-color: #c8221d;
}
.btn-edit:hover {
	background-color: #4020b9;
	border-color: #4020b9;
}
.btn-save:hover {
	background-color: #0c9f54;
	border-color: #0c9f54;
}

.bg-info {
	background-color: #38c4ff!important;
	color: #fff!important;
}
.bg-success {
	background-color: #0fdbb2!important;
	color: #fff!important;
}
.bg-warning {
	background-color: #ffa93a!important;
	color: #fff!important;
}
.bg-pink {
	background-color: #ff229a;
}

.bg-red {
	background-color: #e93934;
}
.bg-blue {
	background-color: #5a34e9;
}
.bg-green {
	background-color: #0bbc62;
}
.card {
	border: 0px;
	-webkit-box-shadow: 0px 2px 6px #e9e9e9;
  -moz-box-shadow:    0px 2px 6px #e9e9e9;
  box-shadow:         0px 2px 6px #e9e9e9;
}

.pink-text {
	color: #ff229a;
}
.purple-text {
	color: #7e7eff;
}
.green-text {
	color: #0fdbb2;
}
.blue-text {
	color: #38c4ff;
}
.yellow-text {
	color: #ffa93a;
}
.card-body {
	padding: 1.5rem;
}
.text-22 { font-size: 1.375rem;}
.text-muted {color: #b7bcc1!important;}
.fas, .far {font-family: 'Font Awesome 5 Free';}
label {
	color: #121314;
	font-weight: 500;
}
.form-control {
	padding: 0.75rem;
	border-color: #e6e6e9;
	background-color: #fdfdfd;
}
.form-control:focus {
	box-shadow: none;
	border-color: #ff229a;
}
.selectInput {
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	height: 45px!important;
}
.form-control::-webkit-input-placeholder {
  opacity: 0.3;
}

.form-control::-moz-placeholder {
  opacity: 0.3;
}

.form-control:-ms-input-placeholder {
  opacity: 0.3;
}

.form-control::-ms-input-placeholder {
  opacity: 0.3;
}

.form-control::placeholder {
  opacity: 0.3;
}


.muted-text {
	color: #9a9fa4;
}
.text-green {
	color: #0cb014;
}
.text-red {
	color: #d61220;
}
.text-black {
	color: #121314;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before,
.custom-radio .custom-control-input:checked ~ .custom-control-label::before {
	background-color: #ff229a;
	box-shadow: 0 0 0 0.2rem rgba(255, 34, 154, 0.25);
}

.custom-radio .custom-control-input:disabled:checked ~ .custom-control-label::before,
.custom-checkbox .custom-control-input:disabled:checked ~ .custom-control-label::before {
	background-color: #c5c5c5;
	box-shadow: 0 0 0 0.2rem rgba(197, 197, 197, 0.25);
}
.disabled .form-control {
	/* background: #e6e6e9; */
	color: #ccc;
}
.close-btn {
	position: relative;
	padding-left: 0.75rem;
	padding-right: 2rem;
	color: #121314;
	font-weight: normal;
	text-transform: none;
}
.close-btn:after {
	content:'';
  right: 10px;
  top:8px;
  width:15px;
  height:15px;
  background: url(../img/close_icon.png) no-repeat center;
  position:absolute;
  display:block
}

/*** begin ui ***/
.down-arrow {
	width: 14px;
	height: 9px;
	display: block;
	background: url(../img/angle_down_arrow.png) no-repeat center;
}

.dashboard-link, .public-link, .submit-link, .open-link, .misc-link, .final-link, .user-link {
	color: #121314;
	font-size: 0.9375rem;
	font-weight: 500;
	padding: 0.75rem 1rem;
	-webkit-border-radius: 0.25rem;
  -moz-border-radius: 0.25rem;
	border-radius: 0.25rem;
	-webkit-transition:all 0.3s ease-out;
	-moz-transition:all 0.3s ease-out;
	-ms-transition:all 0.3s ease-out;
	-o-transition:all 0.3s ease-out;
	transition:all 0.3s ease-out;
}
.dashboard-link:hover, .public-link:hover, .submit-link:hover, .open-link:hover, .misc-link:hover, .final-link:hover, .user-link:hover,
.dashboard-link.activeState, .public-link.activeState, .submit-link.activeState, .open-link.activeState, .misc-link.activeState, .final-link.activeState, .user-link.activeState {
	color: #ff229a;
	background: #fff1fa;
}
.dashboard-link strong, .public-link strong, .submit-link strong, .open-link strong, .misc-link strong, .final-link strong, .user-link strong {
	display: inline-block;
	font-weight: 500;
	vertical-align: top;
	padding: .125rem 0 0 1rem;
	flex-direction: row;
}
.dashboard-link .icon, .public-link .icon, .submit-link .icon, .open-link .icon, .misc-link .icon, .final-link .icon, .user-link .icon {
	display: inline-block;
	vertical-align: top;
}
.dashboard-link .icon {
	width: 27px;
	height: 27px;
	background: url(../img/icon_set1.png) no-repeat 0 0;
}
.dashboard-link:hover .icon, .dashboard-link.activeState .icon {
	background-position: 0 -57px;
}
.public-link .icon {
	width: 27px;
	height: 27px;
	background: url(../img/icon_set2.png) no-repeat 0 0;
}
.public-link:hover .icon, .public-link.activeState .icon {
	background-position: 0 -57px;
}
.submit-link .icon {
	width: 27px;
	height: 29px;
	background: url(../img/icon_set3.png) no-repeat 0 0;
}
.submit-link:hover .icon, .submit-link.activeState .icon {
	background-position: 0 -55px;
}
.open-link .icon{
	width: 27px;
	height: 27px;
	background: url(../img/icon_set4.png) no-repeat 0 0;
}
.open-link:hover .icon, .open-link.activeState .icon {
	background-position: 0 -59px;
}
.misc-link .icon {
	width: 27px;
	height: 28px;
	background: url(../img/icon_set5.png) no-repeat 0 0;
}
.misc-link:hover .icon, .misc-link.activeState .icon {
	background-position: 0 -56px;
}
.final-link .icon {
	width: 27px;
	height: 29px;
	background: url(../img/icon_set6.png) no-repeat 0 0;
}
.final-link:hover .icon, .final-link.activeState .icon {
	background-position: 0 -55px;
}
.user-link .icon {
	width: 27px;
	height: 27px;
	background: url(../img/icon_set7.png) no-repeat 0 0;
}
.user-link:hover .icon, .user-link.activeState .icon {
	background-position: 0 -57px;
}

.breadcrumb {
	padding-left: 0;
	background: none;
}
.breadcrumb-item + .breadcrumb-item::before {
	content:"\f105";
	font-family: 'Font Awesome 5 Free';
	color: #b7bcc1;
}
.breadcrumb .breadcrumb-item a {
	color: #5e666d;
}
.breadcrumb-item.active {
	color: #9a9fa4;
}
.loading-icon {
	position: relative;
}
.loading-icon::before {
	position: absolute;
	left: 0.5rem;
	top: 0.5rem;
	content: '';
	display:block;;
	width: 26px;
	height: 26px;
	background: url(../img/loading_icon.png) no-repeat center;
}
.text-underline {
	text-decoration:  underline;
}
.badge-primary {
	background-color: #ff229a;
}
.badge-secondary {
	background-color: #8e899c;
}
.badge-positive {
	background-color: #00d140;
}
.badge-negetive {
	background-color: #ff3030;
}
.badge {
	font-size: .75rem;
	font-weight: normal;
	text-transform: uppercase;
}
.badge-pill {
	padding: 0.25rem 0.6rem;
	color: #fff;
}
.alert {
	padding: 0.5rem 0.75rem;
	font-weight: 500;
}
.alert-success {
	color: #ff0000;
	border-color: #ff0000;
	background-color: #fff3f3;
}
.alert-danger {
	color: #0ea65a;
	border-color: #0ea65a;
	background-color: #f3fff9;
}
.alert-warning {
	color: #e38600;
	border-color: #e38600;
	background-color: #fffaf3;
}
.tooltip-info {
	cursor: pointer;
}

/*** end ui ***/




/*=========== BEGIN COMMON ============*/

/*=========== BEGIN NAVBAR (TOP NAV) ============*/
.top-bar {
	background-color: #212121;
}
.top-bar .map-marker {
	background: url(../img/map_marker.png) no-repeat left center;
	padding-left: 1.25rem;
}
.top-bar .email-icon {
	background: url(../img/email_icon.png) no-repeat left center;
	padding-left: 1.25rem;
}
.top-bar .call-icon {
	background: url(../img/call_icon.png) no-repeat left center;
	padding-left: 1.25rem;
}
.top-bar .nav-item {
	margin-left: 5rem;
}
.top-bar .nav-item,
.top-bar .nav-link {
	color: #d5dadf;
	font-size: 0.875rem;
	line-height: 1.2;
}
.top-bar .nav-item:hover,
.top-bar .nav-link:hover {
	color: #ff229a;
}
.top-bar .nav-item small,
.top-bar .nav-link small {
	display: block;
	font-size: 0.75rem;
	color: #a2a2a2;
}
.top-nav-custom {
	-webkit-box-shadow: 0px 2px 6px #e9e9e9;
  -moz-box-shadow:    0px 2px 6px #e9e9e9;
  box-shadow:         0px 2px 6px #e9e9e9;
	min-height: 65px;
	outline: none!important;
}
.logo-bg {
	background-color: #ff229a;
	min-height: 65px;
	min-width: 290px;
	max-width: 290px;
}
.logo-bg img {
	-webkit-transition:all 0.3s ease-out;
	-moz-transition:all 0.3s ease-out;
	-ms-transition:all 0.3s ease-out;
	-o-transition:all 0.3s ease-out;
	transition:all 0.3s ease-out;
}
.nav-search {
	background: #fff;
	-webkit-border-radius: 20px;
  -moz-border-radius: 20px;
	border-radius: 20px;
	border: 2px solid #f5f5f9;
}
.nav-search .dropdown-item {
	padding-left: 1rem;
	padding-right: 1rem;
}
.nav-search .form-control {
	background: #f5f5f9;
	padding: 0.40rem 1rem;
  -webkit-border-radius: 20px 0 0 20px;
  -moz-border-radius: 20px 0 0 20px;
  border-radius: 20px 0 0 20px;
}
.nav-search .input-group-append {
	position: relative;
}
.nav-search .dropdown-toggle {
	-webkit-border-radius: 0 20px 20px 0;
  -moz-border-radius: 0 20px 20px 0;
  border-radius: 0 20px 20px 0;
	font-size: 0.7rem;
	background: #fff;
	border: 0;
	box-shadow: none;
	padding-right: 3rem;
	padding-left: 0.25rem;
}
.nav-search .dropdown-toggle:link,
.nav-search .dropdown-toggle:visited,
.nav-search .dropdown-toggle:active,
.nav-search .dropdown-toggle:focus {
	background: #fff!important;
	box-shadow: none!important;
}
.nav-search .dropdown-toggle:after {
	content:'';
  right:0.80rem;
  top:0.9rem;
  width:9px;
  height:6px;
	margin: 0!important;
	border: 0!important;
  background: url(../img/angle_down.png) no-repeat center;
  position:absolute;
  display:block
}
.nav-search .tag-text {
	font-size: 0.7rem;
	color: #9ba0a5;
	display: inline-block;
	padding: 0.50rem 0 0.50rem 0.50rem;
}
.top-nav-btn { float: right;}
.btn-rounded {
	-webkit-border-radius: 25px!important;
  -moz-border-radius: 25px!important;
	border-radius: 25px!important;
}


/*=========== END NAVBAR (TOP NAV) ============*/

/*=========== BEGIN SIDEBAR NAV ============*/
.side-content .top-bar {
	position: relative;
	z-index: 1015;
}
.side-content .logo-bg {
	width: 290px!important;
	flex: 290px!important;
	text-align: center;
}

.side-content .body-container {
	padding-left: 305px;
	-webkit-transition: padding .3s ease-in-out 0s;
	-moz-transition: padding .3s ease-in-out 0s;
	-o-transition: padding .3s ease-in-out 0s;
	transition: padding .3s ease-in-out 0s;
}
.side-content .footer {
	padding-left: 290px;
	-webkit-transition: padding .3s ease-in-out 0s;
	-moz-transition: padding .3s ease-in-out 0s;
	-o-transition: padding .3s ease-in-out 0s;
	transition: padding .3s ease-in-out 0s;
}
.nav-handler {
	position: absolute;
	left: 1rem;
	top: 1.25rem;
	width: 28px;
	height: 30px;
	z-index: 1023;
	cursor: pointer;
}
.nav-handler .fa-times {
	font-size: 1.5rem;
	color: #ff99d0;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
/*
.nav-handler .fa-times::before {
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
*/
.myside-bar {
	width: 290px;
	z-index: 1010;
	background: #fff!important;
	box-shadow: 2px 2px 6px #f0f0f0;
	overflow-x: hidden;
	overflow-y: auto;
	-webkit-transition: all .3s ease-in-out 0s;
	-moz-transition: all .3s ease-in-out 0s;
	-o-transition: all .3s ease-in-out 0s;
	transition: all .3s ease-in-out 0s;
}
/* .nav-handler .fa-times:hover { color: #36252e; } */
.myside-bar .mCSB_scrollTools {
	width: 4px!important;
}
/* .myside-bar .sidebar-heading {
	font-size: 0.75rem!important;
	text-transform: none;
	font-weight: 500;
	padding: 0!important;
	justify-content: center!important;
	-webkit-transition: all .3s ease-in-out 0s;
	-moz-transition: all .3s ease-in-out 0s;
	-o-transition: all .3s ease-in-out 0s;
	transition: all .3s ease-in-out 0s;
} */
.myside-bar .wrap .dashboard-link {
	margin-bottom: 1rem;
}
.myside-bar .wrap {
	padding: 8.25rem 0.75rem 2rem 0.75rem;
	-webkit-transition: all .3s ease-in-out 0s;
	-moz-transition: all .3s ease-in-out 0s;
	-o-transition: all .3s ease-in-out 0s;
	transition: all .3s ease-in-out 0s;
}
.myside-bar .nav-item {
	position: relative;
}
.myside-bar .wrap > .nav-link, .myside-bar .nav-item > .nav-link {
	white-space: nowrap;
}
.myside-bar .down-arrow {
	position: absolute;
	right: 13px;
	top: 20px;
}
.subNav {
	display: none;
}
.subNav ul {
	list-style: none;
	margin: 0;
	padding: 0 0 0.25rem;
}
.subNav ul li a {
	padding: 0.5rem 1rem 0.5rem 4rem;
	display: block;
	color: #121314;
}
.subNav ul li a:hover {
	color: #ff229a;
	background: #ffdaf3;
}
.myside-bar .activeItem {
	-webkit-border-radius: 0.25rem;
  -moz-border-radius: 0.25rem;
	border-radius: 0.25rem;
	background: #fff1fa;
}
.myside-bar .activeItem .nav-link {
	color: #ff229a;
}
/* .activeItem .subNav {
	display: block;
} */
.activeItem .public-link .icon {
	background-position: 0 -57px;
}
.activeItem .submit-link .icon {
	background-position: 0 -55px;
}

.activeItem .open-link .icon {
	background-position: 0 -59px;
}

.activeItem .misc-link .icon {
	background-position: 0 -56px;
}

.activeItem .final-link .icon {
	background-position: 0 -55px;
}

.activeItem .user-link .icon {
	background-position: 0 -57px;
}

/*
.myside-bar .nav-link strong,
.myside-bar .nav-link .down-arrow {
	display: none;
}
 */

.sidebar-close .myside-bar { width: 65px;}
.sidebar-close .myside-bar .wrap {
	padding: 8.25rem 0 2rem 0;
}
/* .sidebar-close .myside-bar .sidebar-heading {
	font-size: 1.125rem!important;
	padding: 0 1rem!important;
	justify-content: space-between!important;
} */
.nav-active-icon .fa-times { color: #fff; }
.nav-active-icon .fa-times::before {content:"\f0c9"}
.sidebar-close .body-container { padding-left: 80px; }

.sidebar-close .footer { padding-left: 65px; }

.sidebar-close .nav-link strong,
.sidebar-close .nav-link .down-arrow {
	display: none;
}

.sidebar-close .myside-bar .dashboard-link,
.sidebar-close .myside-bar .nav-link {
	-webkit-border-radius: 0;
  -moz-border-radius: 0;
	border-radius: 0;
}

/*=========== END SIDEBAR NAV ============*/

/*=========== BEGIN BODY CONTENT ============*/
.page-title small {
	font-size: 1rem;
	color: #78818a;
	font-weight: 300;
}
.btn-toolbar-nav {
	-webkit-box-shadow: 0px 2px 6px #e9e9e9;
  -moz-box-shadow:    0px 2px 6px #e9e9e9;
  box-shadow:         0px 2px 6px #e9e9e9;
	-webkit-border-radius: 20px;
  -moz-border-radius: 20px;
	border-radius: 20px;
}
.btn-toolbar-nav .btn-outline-secondary {
	border-color: #e4e4e9;
	background: #fff;
}
.btn-toolbar-nav .btn-sm {
	-webkit-border-radius: 20px;
  -moz-border-radius: 20px;
	border-radius: 20px;
	padding: 0.4rem 1.5rem;
	text-transform: uppercase;
	font-weight: 500;
	color: #121314;
	-webkit-transition:all 0.3s ease-out;
	-moz-transition:all 0.3s ease-out;
	-ms-transition:all 0.3s ease-out;
	-o-transition:all 0.3s ease-out;
	transition:all 0.3s ease-out;
}

.btn-toolbar-nav .btn-sm:hover {
	color: #ff229a;
}
.notify-card .card-body {
	line-height: 0.8;
	padding-top: 1.75rem;
	padding-bottom: 1.75rem;
}
.notify-card .card-body small {
	font-size: 1.125rem;
	display: block;
	line-height: 1.2;
}
.notify-info {
	padding-left: 4.75rem;
}
.notify-info h1 {
	font-weight: 500;
}
.notify-icon1 .notify-info {
	background: url(../img/notify_icon1.png) no-repeat left center;
}
.notify-icon2 .notify-info {
	background: url(../img/notify_icon2.png) no-repeat left center;
}
.notify-icon3 .notify-info {
	background: url(../img/notify_icon3.png) no-repeat left center;
}
.notify-icon4 .notify-info {
	background: url(../img/notify_icon4.png) no-repeat left center;
}
.slider-card .card-body {
	padding: 0;
}
.slider-card .carousel-control-next, .slider-card .carousel-control-prev {
	width: 66px;
}

.slide-img {
	-webkit-border-radius: 0.25rem;
  -moz-border-radius: 0.25rem;
  border-radius: 0.25rem;
}


.slider-card .carousel-indicators {
	background-color: #fff;
	margin-left: auto;
	margin-right: auto;
	width: 66px;
	padding: 3px 5px;
	border: 1px solid #b9b9bc;
	-webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
.slider-card .carousel-indicators li {
	width: 8px!important;
	height: 8px!important;
	background: rgba(255, 58, 165, 0.2);
	-webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
	cursor: pointer;
}
.slider-card .carousel-indicators li.active {
	background: rgba(255, 58, 165, 1);
	cursor: default;
}
.slider-card .carousel-control-next,
.slider-card .carousel-control-prev {
	opacity: 0.9;
}
.slider-card .carousel-control-next-icon,
.slider-card .carousel-control-prev-icon {
	width: 50px;
	height: 50px;
	-webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
	border: 1px solid #f1f1f1;
	-webkit-box-shadow: 0px 6px 8px #ccc;
  -moz-box-shadow:    0px 6px 8px #ccc;
  box-shadow:         0px 6px 8px #ccc;
}
.slider-card .carousel-control-next-icon {
	background: #fff url(../img/next_icon.png) no-repeat center;
}
.slider-card .carousel-control-prev-icon {
	background: #fff url(../img/prev_icon.png) no-repeat center;
}
.news-events-card .card-header {
	background: none;
	border: 0;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
	padding-bottom: 0;
	padding-top: 1.5rem;
}
.news-events-card .card-header .card-title {
	margin-bottom: 0;
}

.news-events-number {
	counter-reset: my-badass-counter;
}
.news-events-number dd {
	position: relative;
}
.news-events-number dd:before {
	content: counter(my-badass-counter);
	counter-increment: my-badass-counter;
	position: absolute;
	left: -1.5rem;
	top: .5rem;
	font-size: 1.375rem;
	color: #cdd0d4;
	font-weight: bold;
}
.news-events-card .list-group {
	padding-left: 1.5rem;
}
.news-events-card .list-group-item {
	padding: 1rem 0;
	list-style-type: decimal;
}
.news-events-card .list-group-item a {
	color: #121314;
	-webkit-transition:all 0.3s ease-out;
	-moz-transition:all 0.3s ease-out;
	-ms-transition:all 0.3s ease-out;
	-o-transition:all 0.3s ease-out;
	transition:all 0.3s ease-out;
}
.news-events-card .list-group-item a:hover {
	text-decoration: none;
	color: #38c4ff !important;
}

.news-events-card .list-group-item h5 {
	font-size:  1.0625rem;
}
.news-events-card .text-muted {
	color: #c5c9cd!important;
}
.carousel-card .card-title {
	font-size: 1.25rem;
	max-width: 70%;
	min-height: 60px;
	margin-bottom: 1rem;
}
.carousel-card .card-title a {
	-webkit-transition:all 0.3s ease-out;
	-moz-transition:all 0.3s ease-out;
	-ms-transition:all 0.3s ease-out;
	-o-transition:all 0.3s ease-out;
	transition:all 0.3s ease-out;
	color: #121314;
}
.carousel-card .card-title a:hover {
	color:#38c4ff;
}
.carousel-card .card:hover {
	-webkit-box-shadow: 0px 8px 14px #e9e9e9;
  -moz-box-shadow:    0px 8px 14px #e9e9e9;
  box-shadow:         0px 8px 14px #e9e9e9;
}
.carousel-card .card-body {
	font-weight: 500;
}
.carousel-card .card-body p {
	font-size: 0.9375rem;
	text-transform: uppercase;
	color: #4a5056;
}
.carousel-card .card-body small {
	font-size: 0.8125rem;
}
.carousel-card .card-footer {
	padding-left: 0;
	padding-right: 0;
	padding-bottom: 0;
	background: none;
	border: 0;
}
.time-badge {
	min-width: 170px;
	padding: 0.5rem 0.3125rem;
	color: #fff;
	font-weight:  0.75rem;
	text-align: right;
	background: url(../img/time_badge.jpg) no-repeat right center;
	/* background-color: #ff229a; */
	-webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;
	position: absolute;
	right: 0;
	top: 0px;
	z-index: 99;
	-webkit-border-radius: 0 0.25rem 0 0;
  -moz-border-radius: 0 0.25rem 0 0;
	border-radius: 0 0.25rem 0 0;
}

.section-title {
	margin-bottom: 1rem;
}
.carousel-card .owl-theme .owl-nav {
	position: absolute;
	right: 0;
	top: -70px;
	padding-left: 130px;
	background: url(../img/view_more_grey.png) no-repeat left center;
}
.carousel-card .owl-carousel .owl-nav button.owl-next, .carousel-card .owl-carousel .owl-nav button.owl-prev {
	text-indent: -9999px;
	width: 32px;
	height: 32px;
}
.carousel-card .owl-carousel .owl-nav button.owl-prev {
	background: url(../img/owl_prev.png) no-repeat left center;
	outline: none!important;
}
.carousel-card .owl-carousel .owl-nav button.owl-next {
	background: url(../img/owl_next.png) no-repeat left center;
	outline: none!important;
}
.read-more {
	font-size: normal!important;
	padding-left: .75rem;
	padding-right: .75rem;
}

/*=========== END BODY CONTENT ============*/

/*=========== BEGIN FEATURED TENDERS ============*/
.topnav-right { display: flex; flex-grow: nowrap; justify-content: flex-end;}
.nav-user { padding: 12px 0 16px; background: url(../img/blank.gif) repeat; position: relative; margin-left: 20px;}
.nav-user .thumb { float: left; width: 36px; height: 36px; border-radius: 50%; -webkit-border-radius: 50%; -moz-border-radius: 50%; border: 2px solid #ddd; }
.nav-user .thumb img { border-radius: 50%; -webkit-border-radius: 50%; -moz-border-radius: 50%; }
.nav-user span { float: left; display: block; padding: 7px 10px 0; cursor: default;}
.nav-user .dropdown { float: left; position: relative;}
.nav-user .dropdown-content { display: none; position: absolute; background-color: #ff229a; width: 180px; right: 0; top: 52px; padding: 5px 0; border-radius: 0.25rem; -webkit-border-radius: 0.25rem; -moz-border-radius: 0.25rem; -webkit-box-shadow: 0px 4px 5px #e9e9e9; -moz-box-shadow: 0px 4px 5px #e9e9e9; box-shadow: 0px 4px 5px #e9e9e9;}
.nav-user .dropdown-content ul { list-style: none; margin: 0; padding: 0; }
.nav-user .dropdown-content li { list-style: none; padding: 2px 15px; display: block; margin: 8px 0; color: #fff; }
.nav-user .dropdown-content li a { text-decoration: none; color: #fff;}
.nav-user .dropdown-content li a:hover { text-decoration: underline!important;}
.nav-user:hover .dropdown-content { display: block; }
.nav-user .fa-caret-up { position: absolute; right: 3px; top: -16px; color: #ff229a; font-size: 26px;}
.nav-user .fa-angle-down { font-size: 18px; color: #c5c9cd; left: 5px; top: 2px; position: relative;}

.nav-settings { padding: 14px 15px 0;}
.nav-settings > a { display: block; width: 32px; height: 32px; background: url(../img/settings_icon.png) no-repeat;}
.nav-notice { padding: 14px 15px 0;}
.nav-notice > a {	display: block;	position: relative; width: 23px; height: 30px;}
.nav-notice .icon { width: 23px; height: 30px; display: inline-block; background: url(../img/bell-icon.png) no-repeat; }
.nav-notice .notice-numb { position: absolute; left: 10px; top: -5px; font-size: 10px; line-height: 16px; text-align: center; width: 22px; height: 22px; border-radius: 50%; -webkit-border-radius: 50%; -moz-border-radius: 50%; background: #ff229a; color: #fff; border: 2px solid #fff; }

.view-all {
	font-size: 1rem;
}

.btn-sort {
	position: relative;
	-webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
	background: #fff;
	border: 1px solid #e4e4e9;
	-webkit-transition:all 0.3s ease-out;
	-moz-transition:all 0.3s ease-out;
	-ms-transition:all 0.3s ease-out;
	-o-transition:all 0.3s ease-out;
	transition:all 0.3s ease-out;
}
.btn-sort:hover {
	border-color: #ff229a;
	/* -webkit-box-shadow: 0px 5px 8px #ccc;
  -moz-box-shadow:    0px 5px 8px #ccc;
  box-shadow:         0px 5px 8px #ccc; */
}
.btn-sort:hover .btn-light {
	color: #ff229a;
}
.btn-sort .dropdown-toggle {
	-webkit-border-radius: 0 20px 20px 0;
  -moz-border-radius: 0 20px 20px 0;
  border-radius: 0 20px 20px 0;
	font-size: 0.7rem;
	background: #fff;
	border: 0;
	box-shadow: none;
	padding-right: 2.5rem;
	padding-left: 0.25rem;
}
.btn-sort .dropdown-toggle:link,
.btn-sort .dropdown-toggle:visited,
.btn-sort .dropdown-toggle:active,
.btn-sort .dropdown-toggle:focus {
	background: #fff!important;
	box-shadow: none!important;
}
.btn-sort .dropdown-toggle:after {
	content:'';
  right:1rem;
  top:0.9rem;
  width:9px;
  height:6px;
	margin: 0!important;
	border: 0!important;
  background: url(../img/angle_down.png) no-repeat center;
  position:absolute;
  display:block
}
.btn-sort .tag-text {
	font-size: 0.7rem;
	color: #9ba0a5;
	display: inline-block;
	padding: 0.50rem 0 0.50rem 1.25rem;
}

.dashboard-tabs .nav-link:hover, .dashboard-tabs .nav-link:focus {
	color: #121314;
}
.dashboard-tabs .nav-item {
	margin-bottom: -3px;
}
.dashboard-tabs {
	border-bottom: 3px solid #ededf2;
}
.dashboard-tabs .nav-link {
	border: 0;
	color: #888f95;
	font-weight: 500;
	font-size: 1.125rem;
	border-bottom: 3px solid #ededf2;
	-webkit-transition:all 0.3s ease-out;
	-moz-transition:all 0.3s ease-out;
	-ms-transition:all 0.3s ease-out;
	-o-transition:all 0.3s ease-out;
	transition:all 0.3s ease-out;
}
.dashboard-tabs .nav-link.active, .dashboard-tabs .nav-item.show .nav-link {
	border-color: #ff229a;
	background: none;
	color: #121314;
}
.dashboard-tab-content {
	width: 100%;
	clear: both;
	overflow: hidden;
	padding-top: 1.75rem;
}

/*=========== END FEATURED TENDERS ============*/

/*=========== BEGIN FOOTER ============*/
.footer {
  position: fixed;
	left: auto;
  bottom: 0;
  width: 100%;
	font-size: 0.8rem;
	color: #6c6c6c;
	text-align: center;
	z-index: 1000;
  height: 30px; /* Set the fixed height of the footer here */
  line-height: 30px; /* Vertically center the text there */
  background-color: #e2e2e3;
}
.footer .container-fluid {
	position: relative;
}
.developed_by {
	position: absolute;
	right: 0;
	top: 0;
	padding-right: 3rem;
	color: #b7bcc1 !important;
	font-size: 0.8rem;
}
.developed_by img {
	max-width: 40px;
	position: relative;
	display: inline-block;
	top: 0.4rem;
	margin-left: 0.25rem;
}
/*=========== END FOOTER ============*/

/*=========== BEGIN MODAL ============*/
.my-modal .modal-header,
.my-modal .modal-footer  {
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: 0;
}
.my-modal .modal-header .close {
	position: absolute;
	right: 0;
	top: 0;
	margin-right: 0;
}
.my-modal .modal-header h5 {
	font-size: 1.25rem;
}
.custom-form-row {
	display: flex;
	justify-content: space-between;
	padding-left: 0;
}

/*=========== END MODAL ============*/


/* begin 16-9-2018 */

.my-modal .modal-header {
	padding-top: 2rem;
	padding-bottom: 0;
}
.my-modal .modal-footer {
	padding-top: 0;
	padding-bottom: 2rem;
}
.my-modal .modal-header h5 {
	margin-top: 0.75rem;
}
.my-modal .modal-content {
	padding: 0 2.75rem;
}

.my-modal .form-text {
	margin-top: 2rem;
}
.show-char {
	width: 100%;
	position: relative;
	margin-bottom: 1rem;
}
.show-char .fas, .show-char .far {
	position: absolute;
	right: 0.75rem;
	top: 0.95rem;
	font-size: 1rem;
	z-index: 9;
}
.form-btns {}
.btn-custom {
	font-size: 0.875rem;
	padding-top: 0.75rem;
	padding-bottom: 0.75rem;


	/* width: 100%; */
}
.my-modal .modal-footer .btn-secondary {
	margin-top: .75rem;
}

.slider-card .slide-item {
	padding-top: 1.5rem;
}
.slider-card .carousel-inner {
	padding-bottom: 1.5rem;
}
.slide-img {
	-webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.slide-item .carousel-caption {
	color: #5e666d;
	right: auto;
	bottom: auto;
	z-index: 9;
	text-align: left;
	left: 4.5rem;
	top: 0;
	width: 50%;
	padding-top: 50px;
	padding-bottom: 50px;
}
.carousel-card .card-body {
	padding-bottom: 3.5rem;
}
.carousel-card .card-footer {
	position: absolute;
	right: 0;
	bottom: 0;
	padding: 0 1.5rem 1.5rem 1.5rem;
	width: 100%;
}
.dashboard-tab-content:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0}
.dashboard-tab-content {
	overflow: visible;
}
.nav-notice .dropdown-toggle:after {
	border: 0;
}

.nav-notice .dropdown-menu {
	min-width: 360px;
	left: 50%;
	margin: 0 0 0 -180px;
	border: 0;
	border-top: 1px solid #ff229a;
	border-radius: 0 0 0.25rem 0.25rem;
	-webkit-border-radius: 0 0 0.25rem 0.25rem;
	-moz-border-radius: 0 0 0.25rem 0.25rem;
	-webkit-box-shadow: 0px 4px 5px #e9e9e9;
	-moz-box-shadow: 0px 4px 5px #e9e9e9;
	box-shadow: 0px 4px 5px #e9e9e9;
}
.nav-notice .fa-caret-up {
	color: #ff229a;
	font-size: 24px;
	left: 50%;
	margin: 0 0 0 -10px;
	top: -17px;
	position: absolute;
}
.nav-notice .list-group-item {
	border: 0;
	border-bottom: 1px solid #ededf2;
	background: none;
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	align-items: flex-start!important;
}
.nav-notice .list-group-item:last-child {
	border-bottom: 0;
}
.nav-notice .list-group-item .small {
	padding: 0 0.75rem;
	line-height: 1.125rem;
}
.nav-notice .list-group-item a{
	color: #5e666d;
	-webkit-transition:all 0.3s ease-out;
	-moz-transition:all 0.3s ease-out;
	-ms-transition:all 0.3s ease-out;
	-o-transition:all 0.3s ease-out;
	transition:all 0.3s ease-out;
}
.nav-notice .list-group-item a:hover {
	color: #38c4ff;
}
.nav-notice .list-group-item .far {
	top: 3px;
	position: relative;
	color: #484848;
}
.nav-notice .badge-pill {
	margin-top: 0.25rem;
	margin-bottom: 0.25rem;
}
.nav-notice .list-group {
	max-height: 300px;
	overflow-y: auto;
}
.notice-title {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	flex-direction: row;
	padding: 0.5rem 1.25rem;
	justify-content: space-between;
}
.notice-title a {
	font-size: 0.8125rem;
}
.nav-search .dropdown-toggle {
	color: #ff229a;
}
.nav-search .dropdown-menu, .btn-sort .dropdown-menu {
	left: auto!important;
	right: 0;
	border: 0;
	font-size: .75rem;
	background-color: #fff;
	-webkit-box-shadow: 0px 3px 4px #e9e9e9;
	-moz-box-shadow: 0px 3px 4px #e9e9e9;
	box-shadow: 0px 3px 4px #e9e9e9;
}
.btn-sort .dropdown-menu {
	right: 15px;
}
.nav-search .dropdown-menu .dropdown-item, .btn-sort .dropdown-menu .dropdown-item {
	color: #5e666d;
}
.nav-search .dropdown-menu .dropdown-item:hover, .btn-sort .dropdown-menu .dropdown-item:hover {
	color: #fff;
	background-color: #ff229a;
}
.profile-tab-content:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0}
.profile-tab-content {
	width: 100%;
	clear: both;
	padding-top: 1.75rem;
}

.form-column {
	padding-left: 1rem;
	padding-right: 1rem;
}
.content-wrap {
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
}
.imprtant {
	color: #ff229a;
}

/* begin 18-09-2018 */
.show-char .fas, .show-char .far {
	cursor: pointer;
}

.carousel-card .card-body .text-green,
.carousel-card .card-body .text-red {
	text-transform: none;
}

.btn-tag-group .form-control {
	display: none;
}

.btn-tag {
	padding: 0.5rem;
	border: 1px solid #e6e6e9;
	background-color: #fdfdfd;
	-webkit-border-radius: 0.25rem;
  -moz-border-radius: 0.25rem;
	border-radius: 0.25rem;
}
.btn-tag:focus {
	border-color: #aaa;
	background-color: #fff;
	cursor: auto;
}
.btn-tag:hover{
	cursor: auto;
}
.btn-tag .btn-sm {
	font-weight: normal;
	font-size: 0.75rem;
	margin-top: 0.125rem;
	margin-bottom: 0.125rem;
	background: #f4f4f4;
	border: 1px solid #d3d3d3;
	-webkit-border-radius: 0.25rem;
  -moz-border-radius: 0.25rem;
	border-radius: 0.25rem;
	color: #121314;
	cursor: move!important;
}
.btn-tag .btn-sm .far {
	margin-left: 0.25rem;
}
.btn-tag .btn-sm .far:hover {
	cursor: pointer;
}
.accnt-table .table {
	background-color: #fff;
}
.table-title {
	padding: 0.75rem;
	border: 1px solid #dee2e6;
	background-color: #fff;
	border-bottom: 0;
	-webkit-border-radius: 0.25rem 0.25rem 0 0;
  -moz-border-radius: 0.25rem 0.25rem 0 0;
	border-radius: 0.25rem 0.25rem 0 0;
}
.table-title h5 {
	margin-bottom:  0;
}

.accnt-table .table-hover tbody tr:hover {
	background-color: rgba(255, 34, 154, 0.075);
}
/* .accnt-table .table-hover tbody tr:hover td {
	border-bottom: 1px solid #ff229a;
	border-top: 1px solid #ff229a;
}
.accnt-table .table-hover tbody tr:hover td:first-child {
	border-left: 1px solid #ff229a;
}
.accnt-table .table-hover tbody tr:hover td:last-child {
	border-right: 1px solid #ff229a;
} */



/*
.show-file-input {
	padding: 0.25rem;
	border: 1px solid #e6e6e9;
	background: #fdfdfd;
	-webkit-border-radius: 0.25rem;
  -moz-border-radius: 0.25rem;
	border-radius: 0.25rem;
	position: relative;
}
.show-file-input .file-text {
	position: absolute;
	left: 0;
	top: 0;
	padding: 0.75rem;
}
*/
.show-file-input {
	overflow: hidden;
}
.show-file-input .fas {
	font-size: 1rem;
}
.nav-notice .dropdown-menu {
	min-width: 300px;
	margin-left: -150px;
}
.nav-notice .list-group-item .small {
	font-size: 0.75rem;
	line-height: 1rem;
}


/* begin 19-09-2018 */
.nav-notice .list-group-item {
	background-color: #f0f0f0;
	border-top: 1px solid #ededf2;
	opacity: 0.5;
}
.nav-notice .unread {
	background-color: #fff;
	opacity: 1;
}
.nav-notice .list-group-item:first-child {
	border-top: 0;
}
.nav-notice .list-group-item:last-child {
	border-bottom: 0!important;
}
.nav-notice .list-group-item:hover {
	border-bottom: 1px solid #ededf2;
}
.nav-notice .unread .fa-envelope::before {
	content:"\f2b6";
}
.nav-notice .list-group-item .wrap {
	padding: 0 0.75rem;
}
.nav-notice .list-group-item .small {
	padding: 0;
	display: block;
	font-weight: 500;
}
.nav-notice .list-group-item .badge {
	display: flex;
	padding-left: 0;
	padding-right: 0;
	padding-bottom: 0;
}
.nav-notice .list-group-item .badge-pill {
	margin-right: 0.25rem;
}
.nav-notice .list-group-item .small a:hover {
	cursor: default;
	color: #212529;
}
.nav-notice .unread .small a:hover {
	cursor: pointer;
	color: #38c4ff;
}

.form-content-body > .col-12 {
	display: block;
}

.form-content-body .form-group {
	width: 33%;
	padding: 0 1.25rem;
	display: inline-block;
	vertical-align: top;
}
.add-btn {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 70%;
	flex: 0 0 70%;
	max-width: 70%;
}
.add-btn .btn-custom {
	padding-left: 0.5rem;
	padding-right: 0.5rem;
}
