.fixed-left {
    height: calc(100% - 83px);
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    margin-top: 50px;
    margin-left: 3px;
    scrollbar-color: darkgrey;
    scrollbar-width: thin;
}

@media (min-width:992px) {
    .page-sidebar {
        width: 230px !important;
    }

    .page-sidebar-reversed.page-sidebar-fixed .page-sidebar {
        margin-left: -230px !important;
    }
}

.fixed-left::-webkit-scrollbar {
    width: .5em;
}

.fixed-left::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.fixed-left::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}

.footer-fixed-bottom {
    bottom: 0;
    position: fixed;
    text-align: center;
    width: 100%;
    background-color: #364150;
    z-index:5;
}

.page-footer-inner {
    width: 100%;
}

.custom-page-title {
    margin: 10px 0;
    font-size: 22px;
}

.form-header {
    font-size: 16px;
}

.form-table {
    margin-bottom: 10px;
}

    .form-table th {
        padding: 2px !important;
    }

    .form-table td.form-group {
        margin: 0;
        padding: 2px;
    }

    .form-table > tfoot > tr > td, .table > tfoot > tr > th {
        padding: 2px;
    }

.form-group.form-md-line-input {
    margin: 0 0 15px;
    padding-top: 10px;
}

.mt-checkbox-inline .mt-checkbox:last-child, .mt-checkbox-inline .mt-radio:last-child, .mt-radio-inline .mt-checkbox:last-child, .mt-radio-inline .mt-radio:last-child {
    margin-top: 10px;
    margin-bottom: 10px;
}

.typeahead-container .twitter-typeahead {
    margin-top: -15px;
}

.typeahead-container {
    padding-top: 0 !important;
}
#tblrights .mt-checkbox, .mt-radio {
    margin-bottom:0px;
}