@model vms.entity.models.User
@{
    ViewData["Title"] = "Log In";
    Layout = null;
}

<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="#">

    <title>bits:: Before Login</title>

    <link href="loginpage/css/bootstrap.css" rel="stylesheet">
    <link href="loginpage/css/owl.carousel.min.css" rel="stylesheet">
    <link href="loginpage/css/owl.theme.default.min.css" rel="stylesheet">
    <link rel="stylesheet" href="loginpage/font-awesome/css/fontawesome.min.css">

    <!-- Custom styles -->
    <link href="loginpage/font-awesome/css/iconfonts.css" rel="stylesheet">
    <link href="loginpage/css/fonts.css" rel="stylesheet">
    <link href="loginpage/css/dashboard.css" rel="stylesheet">
    <link href="loginpage/css/custom-style.css" rel="stylesheet">
    <link href="loginpage/css/responsive.css" rel="stylesheet">



</head>
<body>
    <div class="main-container">
        <div class="container-fluid px-5 top-bar">
            <ul class="nav justify-content-end">
                <li class="nav-item map-marker">
                    <a class="nav-link" href="#"><small>Location</small>Find us on map</a>
                </li>
                <li class="nav-item email-icon">
                    <a class="nav-link" href="mailto:bitsdev@bits.com"><small>Mail Us</small>bitsdev@bits.com</a>
                </li>
                <li class="nav-item call-icon">
                    <a class="nav-link" href="#"><small>Call Us</small>880 1722343123</a>
                </li>
            </ul>
        </div>
        <nav class="navbar navbar-expand-lg navbar-light sticky-top bg-white flex-md-nowrap p-0 top-nav-custom">
            <div class="navbar-brand col-sm-3 col-md-2 mr-0 px-5 logo-bg" ><a href="#"><img src="loginpage/img/logo-white.png" alt="logo"></a></div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler1" aria-controls="navbarToggler1" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-ellipsis-v"></i>
            </button>

            <div class="collapse navbar-collapse px-5" id="navbarToggler1">
                <div class="wrap form-inline nav-form-mobile">
                    <form class="form-inline mr-auto mt-2 mt-lg-0">
                        <div class="input-group nav-search">
                            <input type="search" class="form-control" placeholder="Search Tender">
                            <div class="input-group-append">
                                <span class="tag-text">By:</span>
                                <button class="btn btn-light dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Location</button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                    <div role="separator" class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#">Separated link</a>
                                </div>
                            </div>
                        </div>
                    </form>

                    <ul class="navbar-nav my-2 my-lg-0">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">About</a>
                        </li>
                        
                    </ul>
                    <div class="top-nav-btn">
                        @*<a href="#" class="btn btn-outline-primary ml-2 btn-rounded" role="button" data-toggle="modal" data-target="#supplierRegister">Register</a>*@
                        <a href="#" class="btn btn-primary ml-2 btn-rounded" role="button" data-toggle="modal" data-target="#supplierLogin">Login</a>
                    </div>

                </div>
            </div>
        </nav>
        <!--// End top nav -->

        <div class="container-fluid body-container">
            <div class="row">
                <main role="main" class="ml-sm-auto col-lg-12 pt-4 px-5 body-content">
                    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3">
                        <div class="page-title">
                            <small>Welcome Back to</small>
                            <h1 class="h2">Dashboard</h1>
                        </div>
                        <div class="btn-toolbar mb-2 mb-md-0">
                            <div class="btn-group mr-2 btn-toolbar-nav">
                                <a href="#" role="button" class="btn btn-sm btn-outline-secondary">Demo</a>
                                <a href="#" role="button" class="btn btn-sm btn-outline-secondary active">Archive</a>
                                <a href="#" role="button" class="btn btn-sm btn-outline-secondary">Demo</a>
                                <a href="#" role="button" class="btn btn-sm btn-outline-secondary">Manual</a>
                            </div>
                        </div>
                    </div>

                    <section class="row notify-card">
                        <div class="col-12 col-sm-6 col-md-6 col-lg-3">
                            <div class="card mb-4 bg-warning">
                                <div class="card-body notify-icon1">
                                    <div class="notify-info">
                                        <h1>301</h1>
                                        <small>Demo</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-md-6 col-lg-3">
                            <div class="card mb-4 bg-secondary">
                                <div class="card-body notify-icon2">
                                    <div class="notify-info">
                                        <h1>32</h1>
                                        <small>Demo</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-md-6 col-lg-3">
                            <div class="card mb-4 bg-info">
                                <div class="card-body notify-icon3">
                                    <div class="notify-info">
                                        <h1>5</h1>
                                        <small>Demo</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-md-6 col-lg-3">
                            <div class="card mb-4 bg-success">
                                <div class="card-body notify-icon4">
                                    <div class="notify-info">
                                        <h1>301</h1>
                                        <small>Demo</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!--// End notify card -->

                    <section class="card-deck slider-and-news">
                        <div class="card mb-4 col-md-12 col-lg-8 slider-card">
                            <div class="card-body">
                                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                                    <ol class="carousel-indicators">
                                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                                        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                                        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                                        <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                                    </ol>
                                    <div class="carousel-inner">
                                        <div class="carousel-item slide-item active">
                                            <img src="loginpage/img/slide_img1.jpg" alt="" class="float-right slide-img">
                                            <div class="carousel-caption d-md-block">
                                                <h1>Welcome to Bits, where words matter.</h1>
                                                <p class="lead">We’ll deliver the best stories and ideas on the topics you care about zmost straight to your homepage, app, or inbox.</p>
                                            </div>
                                        </div>
                                        <div class="carousel-item slide-item">
                                            <img src="loginpage/img/slide_img2.jpg" alt="" class="float-right slide-img">
                                            <div class="carousel-caption d-md-block">
                                                <h1>Welcome to Bits, where words matter.</h1>
                                                <p class="lead">We’ll deliver the best stories and ideas on the topics you care about zmost straight to your homepage, app, or inbox.</p>
                                            </div>
                                        </div>
                                        <div class="carousel-item slide-item">
                                            <img src="loginpage/img/slide_img3.jpg" alt="" class="float-right slide-img">
                                            <div class="carousel-caption d-md-block">
                                                <h1>Welcome to Bits, where words matter.</h1>
                                                <p class="lead">We’ll deliver the best stories and ideas on the topics you care about zmost straight to your homepage, app, or inbox.</p>
                                            </div>
                                        </div>
                                        <div class="carousel-item slide-item">
                                            <img src="loginpage/img/slide_img4.jpg" alt="" class="float-right slide-img">
                                            <div class="carousel-caption d-md-block">
                                                <h1>Welcome to Bits, where words matter.</h1>
                                                <p class="lead">We’ll deliver the best stories and ideas on the topics you care about zmost straight to your homepage, app, or inbox.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="card mb-4 col-md-12 col-lg-4 news-events-card">
                            <div class="row card-header">
                                <div class="col-7"><h5 class="card-title pink-text">News & Events</h5></div>
                                <div class="col-5 text-right"><a href="#" class="view-all"><i class="fas fa-eye"></i> view all</a></div>
                            </div>
                            <div class="card-body">
                                <dl class="list-group list-group-flush news-events-number">
                                    <dd class="list-group-item">
                                        <div class="row">
                                            <div class="col-9">
                                                <h5><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a></h5>
                                            </div>
                                            <div class="col-3 text-right">
                                                <small class="text-muted">3 days ago</small>
                                            </div>
                                        </div>

                                    </dd>
                                    <dd class="list-group-item">
                                        <div class="row">
                                            <div class="col-9">
                                                <h5><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a></h5>
                                            </div>
                                            <div class="col-3 text-right">
                                                <small class="text-muted">3 days ago</small>
                                            </div>
                                        </div>

                                    </dd>
                                    <dd class="list-group-item">
                                        <div class="row">
                                            <div class="col-9">
                                                <h5><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a></h5>
                                            </div>
                                            <div class="col-3 text-right">
                                                <small class="text-muted">3 days ago</small>
                                            </div>
                                        </div>
                                    </dd>
                                </dl>
                            </div>
                        </div>
                    </section>
                    <!--// End slider -->


                    <div class="row section-title">
                        <div class="col-7"><h2>Demo</h2></div>
                        <div class="col-5 text-right">&nbsp;</div>
                        <div class="col-12"><div class="border-bottom"></div></div>
                    </div>
                    <section class="row carousel-card">
                        <div class="col-12 columns">
                            <div class="owl-carousel owl-theme">
                                <div class="card mb-4">
                                    <div class="card-body">
                                        <div class="time-badge">8 Days: 23Hrs: 25Mins</div>
                                        <h5 class="card-title"><a href="#">Demo</a></h5>
                                        <div class="row">
                                            <div class="col-7">
                                                <small class="muted-text">Ref No</small>
                                                <p>RF101020F101020 F101020 ...</p>
                                            </div>
                                            <div class="col-5">
                                                <small class="muted-text">Open Date</small>
                                                <p>12/08/2018 12:32 PM</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-7">
                                                <small class="muted-text">Last Submission</small>
                                                <p>12/08/2018  5:30 PM</p>
                                            </div>
                                            <div class="col-5">
                                                <small class="muted-text">Publisged Date</small>
                                                <p>12/08/2018</p>
                                            </div>
                                        </div>
                                        <div class="card-footer text-right"><a href="#" role="button" class="btn btn-outline-info btn-sm text-lowercase btn-rounded read-more">read more...</a></div>
                                    </div>
                                </div>
                                <!--// End card item -->

                                <div class="card mb-4">
                                    <div class="card-body">
                                        <div class="time-badge">8 Days: 23Hrs: 25Mins</div>
                                        <h5 class="card-title"><a href="#">Demo</a></h5>
                                        <div class="row">
                                            <div class="col-7">
                                                <small class="muted-text">Ref No</small>
                                                <p>RF101020F101020 F101020 ...</p>
                                            </div>
                                            <div class="col-5">
                                                <small class="muted-text">Open Date</small>
                                                <p>12/08/2018 12:32 PM</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-7">
                                                <small class="muted-text">Last Submission</small>
                                                <p>12/08/2018  5:30 PM</p>
                                            </div>
                                            <div class="col-5">
                                                <small class="muted-text">Publisged Date</small>
                                                <p>12/08/2018</p>
                                            </div>
                                        </div>
                                        <div class="card-footer text-right"><a href="#" role="button" class="btn btn-outline-info btn-sm text-lowercase btn-rounded read-more">read more...</a></div>
                                    </div>
                                </div>
                                <!--// End card item -->

                                <div class="card mb-4">
                                    <div class="card-body">
                                        <div class="time-badge">8 Days: 23Hrs: 25Mins</div>
                                        <h5 class="card-title"><a href="#">Demo</a></h5>
                                        <div class="row">
                                            <div class="col-7">
                                                <small class="muted-text">Ref No</small>
                                                <p>RF101020F101020 F101020 ...</p>
                                            </div>
                                            <div class="col-5">
                                                <small class="muted-text">Open Date</small>
                                                <p>12/08/2018 12:32 PM</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-7">
                                                <small class="muted-text">Last Submission</small>
                                                <p>12/08/2018  5:30 PM</p>
                                            </div>
                                            <div class="col-5">
                                                <small class="muted-text">Publisged Date</small>
                                                <p>12/08/2018</p>
                                            </div>
                                        </div>
                                        <div class="card-footer text-right"><a href="#" role="button" class="btn btn-outline-info btn-sm text-lowercase btn-rounded read-more">read more...</a></div>
                                    </div>
                                </div>
                                <!--// End card item -->

                                <div class="card mb-4">
                                    <div class="card-body">
                                        <div class="time-badge">8 Days: 23Hrs: 25Mins</div>
                                        <h5 class="card-title"><a href="#">Demo</a></h5>
                                        <div class="row">
                                            <div class="col-7">
                                                <small class="muted-text">Ref No</small>
                                                <p>RF101020F101020 F101020 ...</p>
                                            </div>
                                            <div class="col-5">
                                                <small class="muted-text">Open Date</small>
                                                <p>12/08/2018 12:32 PM</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-7">
                                                <small class="muted-text">Last Submission</small>
                                                <p>12/08/2018  5:30 PM</p>
                                            </div>
                                            <div class="col-5">
                                                <small class="muted-text">Publisged Date</small>
                                                <p>12/08/2018</p>
                                            </div>
                                        </div>
                                        <div class="card-footer text-right"><a href="#" role="button" class="btn btn-outline-info btn-sm text-lowercase btn-rounded read-more">read more...</a></div>
                                    </div>
                                </div>
                                <!--// End card item -->

                                <div class="card mb-4">
                                    <div class="card-body">
                                        <div class="time-badge">8 Days: 23Hrs: 25Mins</div>
                                        <h5 class="card-title"><a href="#">Demo</a></h5>
                                        <div class="row">
                                            <div class="col-7">
                                                <small class="muted-text">Ref No</small>
                                                <p>RF101020F101020 F101020 ...</p>
                                            </div>
                                            <div class="col-5">
                                                <small class="muted-text">Open Date</small>
                                                <p>12/08/2018 12:32 PM</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-7">
                                                <small class="muted-text">Last Submission</small>
                                                <p>12/08/2018  5:30 PM</p>
                                            </div>
                                            <div class="col-5">
                                                <small class="muted-text">Publisged Date</small>
                                                <p>12/08/2018</p>
                                            </div>
                                        </div>
                                        <div class="card-footer text-right"><a href="#" role="button" class="btn btn-outline-info btn-sm text-lowercase btn-rounded read-more">read more...</a></div>
                                    </div>
                                </div>
                                <!--// End card item -->

                                <div class="card mb-4">
                                    <div class="card-body">
                                        <div class="time-badge">8 Days: 23Hrs: 25Mins</div>
                                        <h5 class="card-title"><a href="#">Demo</a></h5>
                                        <div class="row">
                                            <div class="col-7">
                                                <small class="muted-text">Ref No</small>
                                                <p>RF101020F101020 F101020 ...</p>
                                            </div>
                                            <div class="col-5">
                                                <small class="muted-text">Open Date</small>
                                                <p>12/08/2018 12:32 PM</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-7">
                                                <small class="muted-text">Last Submission</small>
                                                <p>12/08/2018  5:30 PM</p>
                                            </div>
                                            <div class="col-5">
                                                <small class="muted-text">Publisged Date</small>
                                                <p>12/08/2018</p>
                                            </div>
                                        </div>
                                        <div class="card-footer text-right"><a href="#" role="button" class="btn btn-outline-info btn-sm text-lowercase btn-rounded read-more">read more...</a></div>
                                    </div>
                                </div>
                                <!--// End card item -->
                            </div>
                            <!--// End owl-carousel -->
                        </div>
                    </section>
                    <!--// End carousel-card -->
                </main>
                <!--// End body content -->
            </div>
        </div>
        <!--// End body container -->
        <!-- Begin footer -->
        <footer class="footer">
            <div class="container-fluid">
                <span class="text-muted">Made with love in bits  |  © copywrite alright reserved by <a href="http://www.bracits.com/" target="_blank" title="Brac IT Services Ltd">bits 2019</a></span>
                <div class="developed_by">Developed By: <a href="http://www.bracits.com/" target="_blank"><img src="img/biTS_logo.png" alt="biTS logo" title="Brac IT Services Ltd"></a></div>
            </div>
        </footer>
        <!--// End footer -->
    </div>
    <!--// End main container -->
    <!-- login Modal -->
    <div class="modal fade my-modal supplier-login" id="supplierLogin" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form id="pform" action="/Authentication/LogIn" class="login-form" method="post">
                    <div class="modal-header">
                        <div class="navbar-brand "><a href="#"><img src="~/loginpage/img/logo-pink.png" alt="logo"></a></div>
                        <h5 class="modal-title" id="exampleModalLabel">Login to your account</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">



                        <div class="form-group">
                            <label for="userName">User name</label>
                            <input asp-for="UserName" class="form-control form-control-solid placeholder-no-fix form-group" type="text" autocomplete="off" placeholder="Username" name="username" required />
                        </div>
                        <div class="form-group">
                            <label for="pwd">Password:</label>
                            <div class="show-char">
                                <input asp-for="Password" type="password" class="form-control form-control-solid placeholder-no-fix form-group" autocomplete="off" placeholder="Password" name="password" required />
                                <i class="fas fa-eye"></i>
                            </div>
                        </div>
                        <div class="form-group form-check custom-form-row">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck" name="example1">
                                <label class="custom-control-label text-muted" for="customCheck">Keep me login</label>
                            </div>
                            <div class="text-muted">Forget my password</div>
                        </div>
               
                    </div>
                    <div class="modal-footer">
                        @*<button type="submit" class="btn btn-primary btn-block btn-custom">Login</button>*@

                        <button class="btn green" type="submit">Sign In</button>
                        <div class="form-text">Are you a new user?</div>
                        <button type="button" class="disable  btn-secondary btn-block btn-custom">Contract BRAC IT Services Limited</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Register Modal -->




    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="loginpage/js/jquery.min.js"></script>
    <script src="loginpage/js/popper.min.js"></script>
    <script src="loginpage/js/bootstrap.min.js"></script>
    <script src="loginpage/js/owl.carousel.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.owl-carousel').owlCarousel({
                loop: true,
                margin: 30,
                dots: false,
                responsiveClass: true,
                responsive: {
                    0: {
                        items: 1,
                        nav: true
                    },
                    767.98: {
                        items: 2,
                        nav: true
                    },
                    1000: {
                        items: 2,
                        nav: true,
                        loop: false,
                        margin: 30
                    }
                }
            })
        })
    </script>
</body>
</html>

